<div class="container">
<div class="row-fluid">
<div class="page-header">
	<h1>Cookgoogle <small>Search And Social</small></h1>
</div>
<div class="row-fluid cse-word">
	<ul>
		<li><h3>Search can be different.</h3>
			<p>How many pages do you look for form the Google search results? Probably one or two, because the relevant goes down more and more fast as the latter pages.</p>
			<p>What is more, some guys only care about top 3 search results (not Ads) or trust 1 or 2 web sites of high quality which match the search topic.</p>
			<p>Google crawler can not know everyone on the internet. who can? Only yourself, man.</p>
			<p>Thanks to Google Custom Search Engine, you can drive the Google search engine to find out what you like and rank search results yourself.</p>
		</li>
		<li>
			<h3>Share your custom search engines.</h3>
			<p>People use Google Custom Search Engine in their own web sites in most cases now. </p>
			<p>Some guys have defined custom search egnines to search interesting web stuff themselves, however Google don't tell us how to find the cool custom search engines which are defined by those guys, even if that are public to use.</p>
			<p>So Cookgoogle help you to create, share and find your faovered custom search enignes easily.</p>
		</li>
		<li><h3>What Cookgoogle do for you</h3>
			<ol>
				<li>Revised UI helps create your custom search engines more easily.
				</li>
				<li>The tag system helps you find custom search engines easily.</li>
				<li>You can find friends since you are following the same custom search engine.</li>
				<li>You can add comments on custom search engines.</li>
			</ol>
		</li>
	</ul>
</div>
</div>
</div>
