<div class="container">
<div class="row-fluid">
<div class="page-header">
	<h1><%= link_to image_tag('cookgoogle2.png'), help_path, target: '_blank' %> <small>Search And Social</small></h1>
</div>
<div class="row-fluid cse-word">
	<ul>
		<li><h3>Search can be different.</h3>
			<p>How many pages do you look for form the Google search results? Probably one or two, because the relevant goes down more and more fast as the latter pages.</p>
			<p>What is more, some guys only care about top 3 search results (not Ads) or trust 1 or 2 web sites of high quality which match the search topic.</p>
			<p>Google search engine can not understand everyone on the internet. who can? Only yourself, man.</p>
			<p>Thanks to Google Custom Search Engine, it comes true that you can drive the Google search engine to find out what you like and rank search results yourself.</p>
			<p>On the power of Google Custom Search Engine, Google now knows your favored web sites and rank them as you need.</p>
			<p>The search engine should not have the final say on your interested things. </p>
			<p>You can be the master of the search engine.</p>
		</li>
		<li>
			<h3>Share your custom search engines.</h3>
			<p>People use Google Custom Search Engine in their own web sites in most cases now. </p>
			<p>Some guys have defined custom search egnines to search interesting web stuff themselves, however Google don't tell us how to find the cool custom search engines which are defined by those guys, even if that are public to use.</p>
			<p>So Cookgoogle help you to create, share and find your faovered custom search enignes easily.</p>
		</li>
		<li><h3>What Cookgoogle do for you</h3>
			<ol>
				<li>Revised UI helps create your custom search engines more easily.
				</li>
				<li>You can clone custom search engines to make some changes.</li>
				<li>The tag system helps you find custom search engines easily.</li>
				<li>Add comments on your interested custom search engine.</li>
				<li>You can find friends since you are following the same custom search engine.</li>
			</ol>
		</li>
	</ul>
</div>
</div>
</div>
