<div class="row-fluid cse-recommend">
   <div class="span7">
    <div class="well">
    <div class="row-fluid">
     <ul class="nav nav-list span3 cse-nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
             <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
      </ul>
      <ul class="nav nav-list span3 cse-nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
             <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
      </ul>
      <ul class="nav nav-list span3 cse-nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
             <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
      </ul>
      <ul class="nav nav-list span3 cse-nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
             <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
      </ul>
    </div>
  </div>
    </div>
    <div class="span5">
      <div class="container-fluid">
      <p>创建一个自定义搜索引擎来分享你的兴趣和发现</p>
      <div class="row-fluid">
        <div class="span4 offset1">
      <a href="#" class="btn btn-primary btn-large btn-block">开始创建</a>
    </div>
    </div>
    </div>
    </div>
</div>