<div class="container">
<div class="row-fluid">
<div class="page-header">
  <h1>关于Cookgoogle <small>一个关于搜索和分享的网站</small></h1>
</div>
<div class="row-fluid cse-word">
<ul>
<li>
<h4>每人美味</h4>
<p>Google就像大食堂的厨子，每天搜罗各种食材，为我们准备丰盛的饭菜。起初，我们别无选择，
	他做什么我们吃什么。
	但随着时间的推移，以及食客们对菜品的要求越来越高，Google越发感到众口难调，力不从心。
	于是乎，Google召集手下开会，研究出了一种自助模式--每人美味，
	命名为<a href="http://www.google.com/cse">google-cse</a>
	(Google Custom Search Engine)。
	简单来说，就是每人一锅，自取自调。
	食客们都非常happy，
	因为爱吃沙拉的人终于不必每天都吃油炸薯条了，
	喜欢吃豆腐的人可以整出一桌豆腐宴：麻婆豆腐、家常豆腐、豆腐脑...，
	胃口小的也能按需取食了。</p>
</li>
<li>
<h4>邮亭鲫鱼</h4>
<p>我喜欢吃鱼，清蒸鲫鱼、酸菜鱼、豆腐鱼、花椒鱼、火锅鱼...
	尽管我已经能做出十来种以鱼为主的菜品，但天下之大，我也无法尝尽鱼之美味。
	听说有一种鱼的做法，叫邮亭鲫鱼，鲜嫩爽口，但我苦于找不到店家。
	于是乎我想知道，在这自助食堂里是否有和我一样喜欢吃鱼的人呢？
	他能帮助我吃到正宗的邮亭鲫鱼吗？
	说不定，我们还能交流、分享彼此吃鱼做鱼的心得呢。</p>
</li>
<li>
<h4>美食沙龙</h4>
<p>Google忙于钻研烹饪技巧，无暇顾及我等美食爱好者渴望交流的需求。
	于是我想着成立一个美食沙龙，希望帮助美食家们有一个公共的平台去
	<strong>发现、交流和分享</strong>。
	在这儿，说不定我还真能找到最正宗的邮亭鲫鱼呢！</p>
</li>
<li>
<h4>发现、搜索、分享</h4>
<p>我们每天使用Google的搜索引擎去寻找自己<strong>感兴趣</strong>的内容，
	得到的结果是搜索引擎精妙算法<strong>dump</strong>出的数据 -- 
	这就像食堂的大锅饭，足以饱腹，但鲜有特色。
</p>
<p>
	这样一个"通用"的搜索引擎越来越难以满足人们对搜索结果的苛求，
	于是有人开始做垂直搜索，个性化搜索，以提高搜索的精准度 -- 
	好比吃惯了大锅饭，挑剔的食客还是愿意吃吃点菜，搞搞自助。
</p>
<p>
	可是再多的垂直搜索引擎也无法覆盖和满足千万网友的兴趣爱好和个性特征。
	幸运的是，<a href="http://www.google.com/cse">Google自定义搜索引擎</a>日趋完善，
	借助于Google搜索技术的长期积淀，
	加之网友的智慧，只要稍加<strong>"调教"</strong>，便能胜任个性化精准搜索的需求。
	<p>cookgoogle.com -- 利用Google的"上等食材"，
		每一个人都能烹调出一盘精美的搜索菜肴，它不属于个人，每一个人都可以分享并改进它。
	</p>
	<p>
		<strong>更重要的是，我希望你能在这里找到气味相投的朋友 -- 这是搜索社会化的目标。</strong>
	</p>
</p>
</li>
</ul>
</div>
</div>
</div>