<div class="row-fluid">
	<ul class="breadcrumb">
    	<li><%= I18n.t('human.text.current_node_is') %><span class="divider">&gt;</span></li>
    	<li><%= link_to @selected_node.title, node_show_path(@selected_node) %></li>
  	</ul>
</div>