<div class="row-fluid">
	<div>
		<% Node.all.desc(:weight).each do |node| %>
		<%= link_to node.title, node_path(node), class: node == @selected_node ? 'btn btn-success' : 'btn' %>
		<% end %>
		<div class="row-fluid cse-grid">
		<p class="muted">
			<small><%= @selected_node.description %></small>
		</p>
		</div>
	</div>
</div>
