<div class="row-fluid">
	<div>
		<% Node.all.desc(:weight).each do |node| %>
					<%= get_node_link(node, @selected_node) %>
				<% end %>
				<div class="row-fluid cse-grid">
					<p class="muted"><%= get_posts_count_text(@posts) %></p>
					</div>
		<div class="row-fluid cse-grid">
					<i class='icon-tags'></i>
				<% @tags.each do |tag| %>
					<%= get_tag_link(tag, @selected_node, @tag) %>
				<% end %>
		</div>
	</div>
</div>
