<div class="container">
	<div class="row">
		<div class="span8 offset2">
			<div class="cse-box-padding well">
			<div class="row-fluid">
				<%= render 'header' %>
			</div>
			<div class="row-fluid">
				<%= render 'cse_body' %>
				<%= render 'topic_body' %>
			</div>
			<div class="row-fluid">
				<%= render 'footer' %>
			</div>
			</div>
		</div>
	</div>
</div>