<div class="row cse-search-box">
  <div class="span7 offset2 cse-search-input">
  <input class="span7" type="text" id="cse-query" placeholder="c++">
</div>
<div class="span2">
  <div class="btn-group">
    <a href="#" class="btn" id="cse-go"><i class="icon-search"></i> Search</a>
    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    </a>
  <ul class="dropdown-menu">
  <!-- dropdown menu links -->
  <li class="dropdown-link"><a href="#">搜视频</a></li>
  <li class="dropdown-link"><a href="#">找工作</a></li>
  <li class="dropdown-link"><a href="#">找租房</a></li>
  </ul>
  </div>
</div>
</div>
<% content_for :body_bottom_script do %>
<script type="text/javascript">
  (function(){
    $('#cse-query').val('<%= @query %>');
  })();
</script>
<% end %>