<div class="row cse-recommend">
   <div class="span6 well offset2">
    <div class="row-fluid">
      <ul class="nav nav-list span4 cse-nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
             <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
      </ul>
      <ul class="nav nav-list span4 cse-nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
             <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
      </ul>
      <ul class="nav nav-list span4 cse-nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
             <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
      </ul>
    </div>
    </div>
    <div class="span2">
      <p><%= I18n.t("human.text.why_create_cse") %></p>
      <a href="<%= cse_create_path %>" class="btn btn-primary btn-large btn-block"><%= I18n.t("human.controls.link.create_cse") %></a>
    </div>
</div>