<div class="row-fluid">
<div class="span10 cse-search-input">
  <input type="text" class="span12" id="cse-query" placeholder="c++", value="<%= @query %>">
</div>
<div class="btn-group span2">
    <a href="javascript:void(0)" class="btn" id="cse-go"><i class="icon-search"></i> <%= I18n.t("human.controls.link.search") %></a>
</div>
</div>
<div class="row-fluid" id="linked-cse-desc">
<% if @linked_cse.present? %>
<%= render partial: 'linked_cse_info', locals: {cse: @linked_cse} %>
</div>
<% end %>