<div class="row-fluid cse-container-medium">
   <div class="well">
    <div class="row-fluid">
      <ul class="nav nav-list span4 cse-nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
             <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
      </ul>
      <ul class="nav nav-list span4 cse-nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
             <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
      </ul>
      <ul class="nav nav-list span4 cse-nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
             <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
      </ul>
    </div>
    </div>
</div>