<h1>Editing custom_search_engine</h1>
<div class="container cse-container">
<%= render 'nodes/breadcrumb' %>
<div class="row-fluid">
<div class="span6 offset3 well">
	<%= render 'form' %>
</div>
</div>

<%= link_to 'Show', @custom_search_engine %> |
<%= link_to 'Back', custom_search_engines_path %>
</div>
