<div class="container">
<% @custom_search_engines.each do |cse| %>
	<p><%= cse.specification.title %></p>
	<p><%= cse.specification.description %></p>
	<div class="cse-divider"></div>
<% end %>
</div>