(function(){
	$(document).ready(function(){
		alert('<%= @message %>')
		<% unless @already_keeped %>
		$('#cse-keep-btn').html("<%= I18n.t('human.text.remove_current_cse') %>").attr('href', "<%= remove_cse_path(@custom_search_engine) %>");
		var consumer_html = '<%= render partial: "consumer", locals: {consumer: current_user} %>';
		if($('#cse-consumers-divider').length == 0){
			$('#cse-consumers').append('<div class="cse-divider" id="cse-consumers-divider"></div>');
		}
		$('#cse-consumers-divider').after(consumer_html);
		<% end %>
	});
}).call(this);