<% provide :title, I18n.t('human.text.why_create_cse') %>
<div class="container-fluid cse-container">
<%= render 'nodes/breadcrumb' %>
<div class="row-fluid">
<div class="span6 offset3 well">
	<%= render 'form' %>
</div>
</div>
</div>