<div class="container cse-container">
  <div class="row">
    <div class="span9">
        <!-- cse search box start -->
        <%= render 'custom_search_engines/cse_search_box' %>
        <!-- cse search box end -->
    </div>
    <div class="span3">
      <!-- cse dashboard start-->
      <%= render 'shared/dashboard' %>
      <!-- cse dashboard end --> 
    </div>
  </div>
</div>

<% content_for :body_bottom_script do %>
<script type="text/javascript">
  (function() {
    //bind search button
    $("#cse-go").click(function(){
      $("#cse-result").html('');
      var q = $("#cse-query").val();
      if(q){
        window.location = '/q/' + q;
      }
    });

  })();
</script>
<% end %>