<p>
  <b>Title:</b>
  <%= @custom_search_engine.specification.title %>
</p>

<p>
  <b>Description:</b>
  <%= @custom_search_engine.specification.description %>
</p>


<%= link_to 'Edit', edit_custom_search_engine_path(@custom_search_engine) %> |
<%= link_to 'Back', custom_search_engines_path %>
