<p>Sent by <%= link_to 'www.cookgoogle.com', root_url %></p>
<p>SNS - Search and Social</p>
<p>(Web has been under beta version. Please send mail to firsthym@gmail.com if you have any questions. )</p>
