<% provide :title,  I18n.t('human.text.signup') %>
<div class="container cse-container">
<div class="row-fluid">
<div class="span4 offset2">
<h3>欢迎加入<%= link_to image_tag('cookgoogle2.png'), about_path, target: '_blank' %></h3>
<%= render 'intro' %>
</div>
<div class="span4">
	<%= render 'form' %>
</div>
</div>
</div>
