<% provide :title,  I18n.t('human.text.signup') %>
<div class="container cse-container">
<div class="row-fluid">
<div class="span4 offset2 well">
<%= render 'intro' %>
</div>
<div class="span4">
	<%= render 'form' %>
</div>
</div>
</div>
