<% labels = cse.labels %>
<% if labels.any? %>
<div class="row-fluid cse-container-small">
	<span class="muted"><%= t('human.text.cse_labels')%></span>
	<div class="row-fluid">
	<ul class="inline">
		<% labels.each do |l| %>
		<li><%= get_facet_label_from_name(l.name, labels) %></li>
		<% end %>
	</ul>
	</div>
</div>
<% end %>
