<% if cse.content.present? %>
<div class="row-fluid cse-container-small">
<div class="span10">
<blockquote>
	<p class="cse-word">
	<%= truncate(cse.content, length: 200) %>
	</p>
</blockquote>
</div>
</div>
<% end %>
