<ul>
<% if cse.specification.search_mode == 'filter' %>
  <li><%= t('human.text.search_mode_filter') %></li>
<% else %>
  <li><%= t('human.text.search_mode_boost') %></li>
<% end %>
<% if cse.specification.search_image %>
  <li><%= t('human.text.search_image') %></li>
<% end %>
<% if cse.specification.search_thumbnail %>
  <li><%= t('human.text.search_thumbnail') %></li>
<% end %>
</ul>
