<div class="row-fluid">
	<div class="span10">
		<div class="row-fluid">
		<div class="span6">
			<div class="row-fluid cse-container-small">
			<p class="muted"><%= t('human.text.preference') %></p>
			<%= render 'shared/cse_preference', cse: cse %>
			</div>
		</div>
		<div class="span6">
		<%= render 'shared/cse_facet_labels', cse: cse %>
		</div>
		</div>
	</div>
</div>