<div class="row-fluid">
   <div class="well">
    <div class="row-fluid">
      <ul class="nav nav-list cse-nav-list" id="dashboard-cse">
          <li class="nav-header cse-small"><a href="<%= cses_path %>"><%= I18n.t('human.text.cse') %> <i class="icon-search"></i></a>
</li>
          <% if @keeped_custom_search_engines.present? %>
            <% @keeped_custom_search_engines.each do |cse| %>
            <% unless cse.nil? %>
            <%= render partial: 'shared/keeped_cse', locals: {cse: cse} %>
            <% end %>
            <% end %>
          <% else %>
            <li><%= I18n.t('human.text.no_cses') %></li>
          <% end %>
      </ul>
    </div>
    </div>
</div>