<% if errors.any? %>
  <div class="alert alert-error alert-block">
    <a href="#" class="close" data-dismiss="alert">×</a>
    <strong><%= error_title %></strong>
    <ul class="unstyled">
    <% errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
