@import "variables";

.cse-search-box{
	padding-top: $vspan-large;
}

.cse-search-box-wrapper{
	margin-top: $vspan-medium;
}

.cse-nav-list{
	li.cse-link{
		padding: 3px 15px;
		margin-left: -15px;
		margin-right: -15px;
		a{
			display: inline;
			&:hover{
				background-color: transparent;
			}
		}
		div.controls-row{
			display: none;
		}
		&:hover{
			div.controls-row{
				display: inline;
			}
			cursor: pointer;
			background-color: $linkColor;
			a{
				color: #fff;
			}
		}
	}
	li.cse-selected{
		div.controls-row{
			display: inline;
		}
		cursor: pointer;
		background-color: $pink;
		a{
			color: #fff;
		}
	}
}

.cse-control-radio{
	width: 140px;
}

.cse-small{
	font-size: 13px;
	@extend .cse-muted;
}

.cse-annotations{
	select{
		width: 100%		
	}
}

ul.cse-sortable,.cse-draggable{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	li{
		margin: 5px;
		padding: 5px;
		width: 650px;
	}
}

.cse-consumer{
	margin-left: 5px;
	margin-right: 5px;
	height: 48px;
}