<p>你好，<%= @resource.username %>!</p>

<p>有人通过密码重置服务申请修改密码。如果你没有进行过该操作，请忽略。</p>

<p><%= link_to '点击此处更改密码', edit_user_password_url(locale: I18n.locale, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果你没有点击上面的连接并修改新密码，你的账号密码将不会改变。</p>
<%= render "devise/shared/#{I18n.locale}/signature" %>