<p>Hi, <%= @resource.username %>!</p>

<p>Someone wants to reset your password by the account service. Ignore if you have not applied the service.</p>
<p><%= link_to 'Reset Password', edit_user_password_url(locale: I18n.locale, :reset_password_token => @resource.reset_password_token) %></p>

<p>Your password can not be changed if you don't reset it by the link above.</p>