<div class="well">
  <div class="container">
<div class="row-fluid cse-recommend">
   <div class="span6">
    <div class="row">
     <ul class="nav nav-list span2 cse-nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
             <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
      </ul>
      <ul class="nav nav-list span2 cse-nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
             <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
      </ul>
      <ul class="nav nav-list span2 cse-nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
             <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
              <li class="cse-link"><a href="#">Link</a>
                <div class="controls-row pull-right">
                  <a href="#"><i class="icon-plus icon-white"></i></a>
                  <a href="#"><i class="icon-heart icon-white"></i></a>
                  <a href="#"><i class="icon-random icon-white"></i></a>
                </div>
              </li>
      </ul>
    </div>
    </div>
    <div class="span4">
      <div class="row-fluid"><p>创建一个自定义搜索引擎来分享你的兴趣和发现</p></div>
      <div class="row-fluid">
          <div class="container">
      <a href="<%= cse_create_path %>" class="btn btn-primary btn-large btn-block">开始创建</a></div>
    </div>
    </div>
</div>
</div>
</div>